<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, width=device-width" name="viewport">
	<title>Aprroved</title>

	<!-- css -->
	<link href="../css/base.min.css" rel="stylesheet">

	<!-- css for this project -->
	<link href="../css/project.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- favicon -->
	<!-- ... -->

	<!-- ie -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body class="avoid-fout page-brand">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	
	<div class="avoid-fout-indicator avoid-fout-indicator-fixed">
		<div class="progress-circular progress-circular-center">
			<div class="progress-circular-wrapper">
				<div class="progress-circular-inner">
					<div class="progress-circular-left">
						<div class="progress-circular-spinner"></div>
					</div>
					<div class="progress-circular-gap"></div>
					<div class="progress-circular-right">
						<div class="progress-circular-spinner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="content">
		<div class="content-heading">
			<div class="container">
				<h1 class="heading">Approved members</h1>
			</div>
		</div>
		<div class="container">
			<section class="content-inner">
				<h2 class="content-sub-heading">Volunteers</h2>
				<p id="Volunteers1">
				<div class="tile-wrap">
					<div class="tile tile-collapse tile-brand tile-volunteer-1">
						<div data-target="#tile-collapse-13" data-toggle="tile">
							<div class="tile-inner">
								<div class="text-overflow">Pierce Grannel</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-13">
							<div class="tile-sub">
								<p>Email:p.grannel@yahoo.com</p>
								<p>Phone number: +447542434562 </p>
								<p>Preferences: Technology, Theatre, Movies </p>
								<p>Location: London </p>
								<p>Gender: Male</p>
								<p>Availability: Mon-Fri 4pm - 5pm</p>
								<p>Referee: John Mitchell, j.mitchell@ucl.ac.uk</p>
							</div>
				
				<div class="tile-footer">
								<div class="tile-footer-btn pull-left">
									<a class="btn btn-flat waves-attach" onclick="approvedFunc(1,'Volunteers')"><span class="icon">check</span>&nbsp;Aproved</a>
									<a class="btn btn-flat waves-attach" data-toggle="tile" onclick="LaterFunc(1,'Volunteers')"><span class="icon">close</span>&nbsp;Reject</a>
								</div>
							</div>
						</div>
					</div>

					<div class="tile tile-collapse tile-brand tile-volunteer-2">
						<div data-target="#tile-collapse-1" data-toggle="tile">
							<div class="tile-inner">
								<div class="text-overflow">Cristopher Hammond</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-1">
							<div class="tile-sub">
								<p>Email:chammond@ucl.ac.uk</p>
								<p>Phone number: +447599882992 </p>
								<p>Preferences: Football, Music, Tennis </p>
								<p>Location: London </p>
								<p>Gender: Male</p>
								<p>Availability: Fri 5pm-6pm</p>
								<p>Referee: Graham Roberts, g.roberts@gmail.com</p>
							</div>
				
				<div class="tile-footer">
								<div class="tile-footer-btn pull-left">
									<a class="btn btn-flat waves-attach" onclick="approvedFunc(2,'Volunteers')"><span class="icon">check</span>&nbsp;Aproved</a>
									<a class="btn btn-flat waves-attach" data-toggle="tile" onclick="LaterFunc(2,'Volunteers')"><span class="icon">close</span>&nbsp;Reject</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				</p>
				<h2 class="content-sub-heading">Old people</h2>
				<p id="OldPeople1">
				<div class="tile-wrap">
					<div class="tile tile-collapse tile-brand-accent tile-old-1">
						<div data-target="#tile-collapse-14" data-toggle="tile">
							<div class="tile-inner">
								<div class="text-overflow">Mark Hamilton</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-14">
							<div class="tile-sub">
								<p>Email:mark_hamilton@gmail.com</p>
								<p>Phone number: +447599876543 </p>
								<p>Preferences: Football, Racing sports, Reading</p>
								<p>Location: London </p>
								<p>Gender: Male</p>
								<p>Availability: Sat-Sun 12pm-3pm</p>
							</div>
							<div class="tile-footer">
								<div class="tile-footer-btn pull-left">
									<a id="approved" class="btn btn-flat waves-attach" onclick="approvedFunc(1,'OldPeople')"><span class="icon">check</span>&nbsp;Approved</a>
									<a class="btn btn-flat waves-attach" data-toggle="tile" onclick="LaterFunc(1,'OldPeople')"><span class="icon">close</span>&nbsp;Reject</a>
								</div>
							</div>
						</div>
					</div>

					<div class="tile tile-collapse tile-brand-accent tile-old-2">
						<div data-target="#tile-collapse-10" data-toggle="tile">
							<div class="tile-inner">
								<div class="text-overflow">Julia Rose</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-10">
							<div class="tile-sub">
								<p>Email:j.rose@yahoo.com</p>
								<p>Phone number: +447596782342 </p>
								<p>Preferences: Movies, Reading, TV shows </p>
								<p>Location: London </p>
								<p>Gender: Female</p>
								<p>Availability: Mon-Sun 9am-6pm</p>
							</div>
							<div class="tile-footer">
								<div class="tile-footer-btn pull-left">
									<a id="approved" class="btn btn-flat waves-attach" onclick="approvedFunc(2,'OldPeople')"><span class="icon">check</span>&nbsp;Approved</a>
									<a class="btn btn-flat waves-attach" data-toggle="tile" onclick="LaterFunc(2,'OldPeople')"><span class="icon">close</span>&nbsp;Reject</a>
								</div>
							</div>
						</div>
					</div>

					<div class="tile tile-collapse tile-brand-accent tile-old-3">
						<div data-target="#tile-collapse-20" data-toggle="tile">
							<div class="tile-inner">
								<div class="text-overflow">Patricia Williams</div>
							</div>
						</div>
						<div class="tile-active-show collapse" id="tile-collapse-20">
							<div class="tile-sub">
								<p>Email:williams_patricia@gmail.com</p>
								<p>Phone number: +447509882772 </p>
								<p>Preferences: Theatre, Movies, Tennis </p>
								<p>Location: Stratford </p>
								<p>Gender: Female</p>
								<p>Availability: Mon-Fri 5pm-8pm</p>
							</div>
							<div class="tile-footer">
								<div class="tile-footer-btn pull-left">
									<a id="approved" class="btn btn-flat waves-attach" onclick="approvedFunc(3,'OldPeople')"><span class="icon">check</span>&nbsp;Approved</a>
									<a class="btn btn-flat waves-attach" data-toggle="tile" onclick="LaterFunc(3,'OldPeople')"><span class="icon">close</span>&nbsp;Reject</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				</p>
			</section>
		</div>
	</div>
	<footer class="footer">
	</footer>
	<!-- js -->
	<script>
		function approvedFunc(id, mode) {
			if(mode == 'OldPeople') {
				if(id==1)
					$(".tile-old-1").remove();
				else if(id==2)
					$(".tile-old-2").remove();
				else
					$(".tile-old-3").remove();
			}
			else {
				if(id==1)
					$(".tile-volunteer-1").remove();
				else
					$(".tile-volunteer-2").remove();
			}
		}
		function LaterFunc(id, mode) {
			if(mode == 'OldPeople') {
				if(id==1)
					$(".tile-old-1").remove();
				else if(id==2)
					$(".tile-old-2").remove();
				else
					$(".tile-old-3").remove();
			}
			else {
				if(id==1)
					$(".tile-volunteer-1").remove();
				else
					$(".tile-volunteer-2").remove();			}
		}
	</script>
	<script src="../js/base.min.js"></script>
	<!-- js for this project -->
	<script src="../js/project.min.js"></script>
</body>
</html>