
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F53381210578353" title="oEmbed Form"><link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=http%3A%2F%2Fwww.jotform.com%2Fform%2F53381210578353" title="oEmbed Form">
<meta property="og:title" content="File Upload Form" >
<meta property="og:url" content="http://www.jotformeu.com/form/53381210578353" >
<meta property="og:description" content="Please click the link to complete this form.">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="HandheldFriendly" content="true" />
<title>File Upload Form</title>
<link href="https://cdn.jotfor.ms/static/formCss.css?3.3.10106" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/css/styles/nova.css?3.3.10106" />
<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.10106" />
<style type="text/css">
    .form-label-left{
        width:150px !important;
    }
    .form-line{
        padding-top:12px;
        padding-bottom:12px;
    }
    .form-label-right{
        width:150px !important;
    }
    body, html{
        margin:0;
        padding:0;
        background:false;
    }

    .form-all{
        margin:0px auto;
        padding-top:0px;
        width:590px;
        color:#555 !important;
        font-family:'Lucida Grande',' Lucida Sans Unicode',' Lucida Sans',' Verdana',' Tahoma',' sans-serif';
        font-size:14px;
    }
</style>

<script src="https://cdn.jotfor.ms/file-uploader/fileuploader.js?v=3.3.10106"></script>
<script src="https://cdn.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://cdn.jotfor.ms/static/jotform.forms.js?3.3.10106" type="text/javascript"></script>
<script type="text/javascript">
   JotForm.init(function(){
	JotForm.clearFieldOnHide="disable";
      setTimeout(function() {
          JotForm.initMultipleUploads();
      }, 2);
	JotForm.onSubmissionError="jumpToSubmit";
   });
</script>
</head>
<body>
<form class="jotform-form" action="https://submit.jotformeu.com/submit/53381210578353/" method="post" enctype="multipart/form-data" name="form_53381210578353" id="53381210578353" accept-charset="utf-8">
  <input type="hidden" name="formID" value="53381210578353" />
  <div class="form-all">
    <ul class="form-section page-section">
      <li id="cid_3" class="form-input-wide" data-type="control_head">
        <div class="form-header-group">
          <div class="header-text httal htvam">
            <h2 id="header_3" class="form-header">
              Upload file
            </h2>
          </div>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_textarea" id="id_7">
        <label class="form-label form-label-left form-label-auto" id="label_7" for="input_7">
          Describe file details
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_7" class="form-input jf-required">
          <textarea id="input_7" class="form-textarea validate[required]" name="q7_describeFile" cols="32" rows="6"></textarea>
        </div>
      </li>
      <li class="form-line jf-required" data-type="control_fileupload" id="id_8">
        <label class="form-label form-label-left" id="label_8" for="input_8">
          Click to upload Files
          <span class="form-required">
            *
          </span>
        </label>
        <div id="cid_8" class="form-input jf-required">
          <span class="form-sub-label-container" style="vertical-align: top">
            <div class="qq-uploader-buttonText-value">
              Upload a File
            </div>
            <input class="form-upload-multiple validate[required]" type="file" id="input_8" name="q8_clickTo8[]" multiple="multiple" file-accept="*" file-maxsize="512000" file-minsize="0" file-limit="0" />
            <label class="form-sub-label" for="input_8" style="min-height: 13px;"> Max Total Upload Size: 500MB </label>
          </span>
        </div>
      </li>
      <li style="display:none">
        Should be Empty:
        <input type="text" name="website" value="" />
      </li>
    </ul>
  </div>
  <input type="hidden" id="simple_spc" name="simple_spc" value="53381210578353" />
  <script type="text/javascript">
  document.getElementById("si" + "mple" + "_spc").value = "53381210578353-53381210578353";
  </script>
</form></body>
</html>
